/*
 * Copyright (c) 2020, 2021 in-tech GmbH
 *
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    font-size: 18px;
    color: #555555;
}

h2 {
    font-size: 16px;
    color: #555555;
}

div.generated {
    padding-bottom: 8px;
    font-size: 12px;
    color: #000000;
}

table.results {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 2px;
    border: 2px solid #444444;
    border-radius: 5px;
    border-collapse: collapse;
    background-color: #F8F8F8;
    text-align: left;
}

table.results td,
table.results th {
    border: 1px solid #444444;
    padding: 6px 6px;
}

table.results tbody td {
    font-size: 14px;
}

table.results tr:nth-child(even) {
    background: #E1E1E1;
}

table.results thead {
    background: #555555;
    background: -moz-linear-gradient(top, #7f7f7f 0%, #666666 66%, #555555 100%);
    background: -webkit-linear-gradient(top, #7f7f7f 0%, #666666 66%, #555555 100%);
    background: linear-gradient(to bottom, #7f7f7f 0%, #666666 66%, #555555 100%);
    border-bottom: 2px solid #444444;
}

table.results thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #666666;
}

table.results thead th:first-child {
    border-left: none;
}

table.results tfoot td {
    font-size: 16px;
}

div.green {
    height: 5px;
    background-color: green;
}

div.greengap {
    height: 5px;
    background-color: rgb(119, 199, 119);
}

div.red {
    height: 5px;
    background-color: red;
}

div.redgap {
    height: 5px;
    background-color: red;
}

div.black {
    height: 5px;
    background-color: black;
}

td span {
    float: center;
}

a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #555555;
}

a:visited {
    color: #555555;
}
